######## Packer Files ##########
# Cache objects
packer_cache/

# For built boxes
*.box

######## Terraform Files #######
**/.terraform
**/*.tfstate*

######## Generated Certificates #######
**/private-tls-cert/cert/*.pem
